@import url('https://fonts.google.com/specimen/Bebas+Neue?preview.script=Latn');
        *{
            margin: 0;
            padding: 0;
            border: 0;
        }
        body {
            background-color: rgb(99, 93, 93);
        }
       header{
          padding: 32px;
          border-bottom: 1px solid #333;
          background-color: rgb(0, 0,0,0.1) ;
       }
       header div {
           text-align: center;/* alinhamento no meio do header */
       }
       header div a {
        color: white;/* a cor do texto*/
        font-size: 20px;/* tamanho da fonte*/
        line-height: 30px;/* espaçamento da linha do txto*/
        margin: 0 16px;/* espaçamento entre os textos*/
        text-decoration: none;/* retirar decoração do texto*/
        font-family: 'Neue',sans-serif;/*a fonte escolhida para o menu*/
       }
    header div a:hover {/*selecao do modo quando o mouse passar por cima "hover"*/
                color: green;/* mudar para cor verde*/
                transition: 700ms; /*e fazer uma transição de cor que dura 700ms*/
    }
    #box {
        text-align: 50%;/*adiciona uma borda redonda a imagem*/
        padding: 32px;/*
    }
    }
